<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let component of components"
      [routerLink]="component.redirectTo"
      detail
    >
      <ion-icon [name]="component.icon" slot="start" color="primary"></ion-icon>
      {{component.name}}
    </ion-item>
  </ion-list>
</ion-content>
